$colors: (
  "primary-color": #007bfd,
  "secondary-color": #31bfae,
  "tertiary-color": #fd8900,
  "accent-color-100": #3d3f41,
  "accent--color-200": #0b0c0c,
  "light-color": #ffffff,
  "dark-color": #000000,
);

$weights: (
  "thin": 300,
  "default": 400,
  "thick": 500,
  "extra-thick": 600,
  "bold": 700,
  "extra-bold": 800,
  "bolder": 900,
);

$font-sizes: (
  "extra-small": 1.3rem,
  "small": 1.4rem,
  "medium": 1.6rem,
  "extra-medium": 1.6rem,
  "large": 1.8rem,
  "extra-large": 2.2rem,
);

$font-family: (
  "font-family-primary": (
    "Roboto",
    sans-serif,
  ),
  "font-family-secondary": (
    "Ubuntu",
    sans-serif,
  ),
);

$base-fonts: (
  "font-size": 1.6rem,
  "font-family":
    map-get(
      $map: $font-family,
      $key: font-family-primary,
    ),
  "line-height": 23px,
  "font-weight": 400,
  "color":
    map-get(
      $map: $colors,
      $key: primary-color,
    ),
);

$button-sizes: (
  sv1: 1.2rem 2.4rem,
  sv2: 0.7rem 0.9rem,
  sv3: 0.3rem 0.7rem,
);

$button-shapes: (
  rv1: 15px,
);
